# Default behavior always be linefeed for Linux (LF)
* text=auto
* text eol=lf
# But not PDF because of rendering issues
*.pdf binary

# Don't change the following file types:
*.jpg -text
*.png -text
*.db -text
*.sqlite -text